<style>
    * {
        background-origin: padding-box;
    }

    .right {
        text-align: right;
    }

    body {
        margin: 0;
    }

    .row {
        font-size: 0;
        display: block;
    }

    .col {
        font-size: 15px;
        display: inline-block;
        vertical-align: top;
    }
    .nav{
        border: 1px solid #000;
    }

    .logo img {
        width: 50px;
    }

    .logo {
        width: 20%;
    }

    .link-group {
        width: 50%;
    }

    .search {
        width: 30%;
        font-size: 0;
    }

    .nav>* {
        vertical-align: middle;
    }
    .link-group a{
        color: orangered;
        display: inline-block;
        text-decoration: none;
        padding: 15px;
    }
    .search input,
    .search button{
      font-size: 15px;
      border: 1px solid #000;
      line-height: 1.1cm;
    }
</style>
<div class="row nav">
    <div class="col logo">
        <img src="http://pic.58pic.com/58pic/16/58/07/83g58PIC9er_1024.jpg" alt="图没了">
    </div>
    <div class="col link-group">
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
    </div>
    <div class="col search right">
        <input type="text" name="" id="">
        <button>搜索</button>
    </div>
</div>