<style>
    body {
        margin: 0;
    }

    .row {
        font-size: 0;

    }

    .right {
        text-align: right;
    }

    .col {
        font-size: 15px;
        display: inline-block;
       vertical-align: top; /* 向上垂直对齐 */
    }

    .nav {
        border: 1px solid #aaa;
    }

    .nav>* {
        vertical-align: middle;/* 居中垂直对齐 */
    }

    .logo {
        width: 20%;
    }

    .logo img {
        width: 50px;
    }

    .link-group {
        width: 50%;

    }

    .link-group a {
        padding: 12px;
        display: inline-block;
        color: #333;
        text-decoration: none; /*去除文字装饰 */
    }

    .search {
        width: 30%;
        font-size: 0;
    }

    .search input,
    .search button {
        padding: 10px;
        border: 1px solid #aaa;
        line-height: 1.1;
    }
</style>
<div class="row nav">
    <div class="col logo">
        <img src="http://pic.58pic.com/58pic/16/58/07/83g58PIC9er_1024.jpg" alt="图没了">
    </div>
    <div class="col link-group">
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
    </div>
    <div class="col search right">
        <input type="text" name="" id="">
        <button>搜索</button>
    </div>
</div>