<style>
    a {
        display: inline-block;
    }

    .row {
        font-size: 0;
        display: block;
    }

    .col {
        display: inline-block;
        font-size: 15px;
        vertical-align: top;
    }

    .left,
    .right {
        width: 50%;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    /* ================================== */

    .nav {
        background: #333;

    }

    .nav a {
        color: #fff;
        padding: 10px;

        text-decoration: none;
    }
</style>
<div class="row nav">
    <div class="col link-grounp left">
        <a href="">item</a>
        <a href="">item</a>
        <a href="">item</a>
        <a href="">item</a>
        <a href="">item</a>
    </div>
    <div class="col link-grounp right">
        <a href="">item</a>
        <a href="">item</a>
        <a href="">item</a>
    </div>
</div>