<style>
    .row
    {
        font-size: 0;
       
    }
    .col{
        font-size: 15px;
        display: inline-block;
        color:white;
    }
    .nav{
        background: #444;
    }
    .right, .left{
        width: 50%;
    }
    .left{
        text-align: left;
    }
    .right{
        text-align: right
    }
   .nav{
        padding: 8px;
    }
   .nav, .item{
        text-decoration-line: none;
        color: rgba(255,255,255, 8);
        padding: 10px;
    }
    .nav, .ietm:hover{
        background: rgba(0,0,0,0.2); 
  color: rgba(255,255,255, 1);
    }
</style>
<div class="row nav">
   <div class="col link-ground left">
       <a href="#" class="ietm">ietm</a>
       <a href="#" class="ietm">ietm</a>
       <a href="#" class="ietm">ietm</a>
       <a href="#" class="ietm">ietm</a>
       <a href="#" class="ietm">ietm</a>
   </div>
   <div class="col link-ground right">
        <a href="#" class="ietm">ietm</a>
        <a href="#" class="ietm">ietm</a>
       </div>
   </div>
  
</div>