<style>
    a{
        display: inline-block;
    }
    .row{
        font-size: 0;
        background: rgb(255, 0, 221);
    }
    .col{
        font-size: 15px;
        display:inline-block;
    }
    .left, .right{
        width: 50%;
    }
    .left{
        text-align: left
    }
    .right{
        text-align: right
    }
    .nav{
        padding: 12px;
    }
    .nav a{
        color: #fff;
         padding: 10px;
         text-decoration-line: none;
    }

    .nav a:hover {
        background: rgba(0,0,0,0.2);
    }
</style>
<div class="row nav">
    <div class="col link-grounp left">
        <a href="#">item</a>
        <a href="#">item</a>
        <a href="#">item</a>
        <a href="#">item</a>
        <a href="#">item</a>
    </div>
    <div class="col link-grounp right">
            <a href="#">item</a>
            <a href="#">item</a>
    </div>
</div>