<style>
    a {
        display: inline-block;
    }
    .row {
        font-size: 0;
        display: block;
    }
    .col {
        font-size: 15px;
        display: inline-block;
    }
    .logo {
        width: 20%;
        text-align: left;
    }
    .link-grounp {
        width: 50%;
        text-align: center;
    }
    .input {
        width: 30%;
        text-align: right;
    }
    .left,
    .right {
        width: 50%;
    }

    .left {
        text-align: left
    }
    .right {
        text-align: right
    }
    /* 全局样式 */
    .nav {
        background: #000;

    }
    .nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
    .bar a {
        color: #000;
        text-decoration: none;
        padding: 15px;
    }
    .classification {
        width: 25%;
    }
    .col-0,
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {

        margin-bottom: 10px;
        text-decoration: none;
    }
    .Carousel {
        width: 75%;
    }
    .classification {
        background: blue;
    }
    .classification a {
        text-decoration: none;
        color: white;
    }
    .hyperchannel {
        height: 316px;
        width: 25%;
        background: #000;
    }
    .images {
        height: 316px;
        width: 25%;
    }
    .images img {
        max-width: 100%;
    }
</style>
<div class="row nav">
    <div class="col link-grounp left">
        <a href="#">item</a>
        <a href="#">item</a>
        <a href="#">item</a>
        <a href="#">item</a>
        <a href="#">item</a>
    </div>
    <div class="col link-grounp right">
        <a href="#">item</a>
        <a href="#">item</a>
    </div>
</div>
<div class="row navigation bar">
    <div class="col logo">
        <img src="#" alt="假装有图">
    </div>
    <div class="col link-grounp">
        <a href="">IETM</a>
        <a href="">IETM</a>
        <a href="">IETM</a>
        <a href="">IETM</a>
        <a href="">IETM</a>
        <a href="">IETM</a>
    </div>
    <div class="col input">
        <input type="text">
        <button disabled="disabled">点我</button>
    </div>
</div>
<div class="row first screen">
    <div class="col product classification">
        <div class="col-0">
            <a href="">item</a>
        </div>
        <div class="col-1">
            <a href="">item</a>
        </div>
        <div class="col-2">
            <a href="">item</a>
        </div>
        <div class="col-3">
            <a href="">item</a>
        </div>
        <div class="col-4">
            <a href="">item</a>
        </div>
        <div class="col-5">
            <a href="">item</a>
        </div>
        <div class="col-6">
            <a href="">item</a>
        </div>
        <div class="col-7">
            <a href="">item</a>
        </div>
        <div class="col-8">
            <a href="">item</a>
        </div>
        <div class="col-9">
            <a href="">item</a>
        </div>
        <div class="col-11">
            <a href="">item</a>
        </div>
        <div class="col-12">
            <a href="">item</a>
        </div>
    </div>
    <div class="col Carousel">轮播</div>
</div>
<col>
<div class="row Auxiliary promotion">
    <div class="col hyperchannel"></div>
    <div class="col Linking images">
        <img src="https://i1.mifile.cn/a4/xmad_15222290361247_jtCyS.jpg" alt="假装有图">
    </div>
    <div class="col Linking images">
        <img src="https://i1.mifile.cn/a4/xmad_15229392253546_epbTg.jpg" alt="假装有图">
    </div>
    <div class="col Linking images">
        <img src="https://i1.mifile.cn/a4/xmad_15228544938814_vqBTH.jpg" alt="假装有图">
    </div>
</div>