<style>
    * {
        box-sizing: border-box;
    }

    a {
        display: inline-block;
    }

    img {
        max-width: 100%;
        display: block;
    }

    .logo {
        width: 20%;
        text-align: left;
        height: 56.4px;
        width: 56.4px;

    }

    .row {
        font-size: 0;
        display: block;
    }

    .col {
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
    }


    .link-grounp {
        width: 55%;
        text-align: center;

    }

    .input {
        width: 25%;
        text-align: right;
    }

    .link-grounp a {
        color: black;
        text-decoration: none;
        padding: 15px;
    }

    .btn {
        display: inline-block;
        font-size: 14px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 3px;

        color: rgba(255, 255, 255, .9);
    }
    .btn:hover{
        background:yellow;
    }
    .btn:active{
        background:yellow;
    }
    .bar, .item:hover{
        
        color: red;
    }
</style>
<div class="row navigation bar">
    <div class="col logo">
        <img src="http://pic.58pic.com/58pic/16/58/07/83g58PIC9er_1024.jpg" alt="图没了">
    </div>
    <div class="col link-grounp">
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
    </div>
    <div class="col input">
        <input type="text">
        <button class="btn">点我</button>
    </div>
</div>