<style>
    body{
        margin: 0;
    }
    .row{
        font-size: 0;
        display: block;
    }
    .col{
        font-size: 15px;
        display: inline-block;
        vertical-align: top;
    }
    .nav>*{vertical-align: middle;}
    .logo{
        width: 20%;
    }
    .link-group{
        width: 50%;
    }
    .search{
        width: 30%;
        font-size: 0px;
    }
    .nav img{
        width: 55px;
    }
    .right{
        text-align: right;
    }
    .nav {
        border: 1px solid #aaa;
    }
    .link-group a{
        text-decoration: none;
        color: plum;
        padding: 12px;
    }
   
    .search input,
    .search button{
        font-size: 15px;
        line-height: 0.6cm;
        
        padding: 10px;
    }
  
</style>
<div class="row nav">
    <div class="col logo"><img src="http://pic.58pic.com/58pic/16/58/07/83g58PIC9er_1024.jpg" alt="图挂了"></div>
    <div class="col link-group">
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
    </div>
    <div class="col search right"><input type="text" class="searsh"><button class="button">搜索</button></div>
</div>