<style>
    body {
        margin: 0;
    }

    .row {
        font-size: 0;
        display: block;
    }

    .col {
        font-size: 15px;
        display: inline-block;
        vertical-align: top;
    }

    .nav>* {
        vertical-align: middle;
    }

    .logo {
        width: 20%;
    }

    .logo img {
        width: 60px;
    }

    .link-group {
        width: 50%;
    }

   .link-group a{
        color: powderblue;
        text-decoration: none;
        padding: 15px;
        display: inline;
    }
    .search{
        width: 30%;
        text-align: right;
        font-size: 0px;
        
    }
    .search input,
    .search button {
        padding: 10px;
        border: 1px solid #aaa;
        line-height: 1.1;
       
    }
    .nav{
        border: 1px solid #000;
    }

   
</style>
<div class="row nav">
    <div class="col logo">
        <img src="http://pic.58pic.com/58pic/16/58/07/83g58PIC9er_1024.jpg" alt="图挂了">
    </div>
    <div class="col link-group">
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
    </div>
    <div class="col search right">
        <input type="text">
        <button>搜索</button>
    </div>
</div>