<style>
    body {
        margin: 0;
    }

    .row {
        font-size: 0;
        display: block;
    }

    .col {
        font-size: 15px;
        display: inline-block;
    }

    .left {
        width: 70%;
    }

    .right{
        width: 30%;
        text-align: right;
    }
  
    .nav {
        background:gray ;
    }

    .nav .item {
        color: rgba(255, 255, 255, .8);
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
    }

    .nav .item:hover {
        /* 当鼠标指在链接上时 */
        background: rgba(0, 0, 0, 0.2);
        /* 背景色变深 */
        color: rgba(255, 255, 255, 1);
        /* 文字颜色变亮 */
    }
</style>
<div class="row nav">
    <div class="col link-group left">
        <a href="#" class="item">小米商城</a>
        <a href="#" class="item">MIUI</a>
        <a href="#" class="item">loT</a>
        <a href="#" class="item">云服务</a>
        <a href="#" class="item">水滴</a>
        <a href="#" class="item">selet Region</a>
    </div>
    <div class="col link-group right">
        <a href="#" class="item">item</a>
        <a href="#" class="item">item</a>
    </div>
</div>