<style>
    *{
        background-origin: padding-box;
    }
    .row{
       
       font-size: 0;
        color: brown;
    }
    .col{
        display: inline-block;
        font-size: 15px;
       text-align: center;
    }
    .left{
        width: 20%;
        background: blue;
    }
    .centre{
        width: 30%;
        background: rgb(32, 30, 30);
    }
    .right{
        width: 50%;
        background:yellow ;
    }
</style>
<div class="row">
    <div class="col left">lie</div>
    <div class="col centre">lie</div>
    <div class="col right">lie</div>
</div>