<style>
img{
    float:right;
    width: 60px;
}
span{
    float: left;
    font-size: 400%;
    width: 1em;
    line-height: 80%;
    font-family: algerian,couier;
}
</style>
<p>
    <span>A</span>orem ipsum, dolor sit amet consectetur<img src="http://a.cphotos.bdimg.com/timg?image&quality=100&size=b4000_4000&sec=1523257521&di=96eaba3b399be202b67ee900f480fc22&src=http://img.tupianzj.com/uploads/allimg/160421/9-160421221018.jpg"> adipisicing elit. Inventore obcaecati tempore labore cum, fugit molestiae distinctio placeat consequuntur sequi eligendi culpa architecto blanditiis necessitatibus voluptatem dolorem unde mollitia illo velit!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore obcaecati tempore labore cum, fugit molestiae distinctio placeat consequuntur sequi eligendi culpa architecto blanditiis necessitatibus voluptatem dolorem unde mollitia illo velit!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore obcaecati tempore labore cum, fugit molestiae distinctio placeat consequuntur sequi eligendi culpa architecto blanditiis necessitatibus voluptatem dolorem unde mollitia illo velit!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore obcaecati tempore labore cum, fugit molestiae distinctio placeat consequuntur sequi eligendi culpa architecto blanditiis necessitatibus voluptatem dolorem unde mollitia illo velit!
</p>