*{
    background-origin: padding-box;
}
body{
    margin: 0;
}
.row{
    font-size: 0;
    color: pink;
}
.col{
    display: inline-block;
    font-size: 30px;
    text-align: center;
   
    vertical-align: top;
}
.sm{
    width:10% ;
    background: #626262;

}
.md{
    width:40% ;
    background: #581414;

}
.lg{
    width: 50%;
    background: #626262;

}